<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="usersService" class="ru.itis.project.services.UsersServiceImpl">
        <constructor-arg name="authRepository" ref="authRepository"/>
        <constructor-arg name="usersRepository" ref="usersRepository"/>
        <constructor-arg name="passwordEncoder" ref="passwordEncoder"/>
    </bean>
    <bean id="productsService" class="ru.itis.project.services.ProductsServiceImpl">
        <constructor-arg name="productsRepository" ref="productsRepository"/>
    </bean>

    <bean id="usersRepository" class="ru.itis.project.repositories.UsersRepositoryJdbcTemplateImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="authRepository" class="ru.itis.project.repositories.AuthRepositoryJdbcTemplateImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="username" value="postgres"/>
        <property name="password" value="admin"/>
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/postgres"/>
    </bean>

    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <bean id="productsRepository" class="ru.itis.project.repositories.ProductsRepositoryImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>
</beans>